@media screen and (min-device-width: 475px) {
  iframe {
    /* https://stackoverflow.com/questions/35814653/automatic-height-when-embedding-a-youtube-video */
    width: 100%;
    height: calc(100vw / 2.65);
  }
}

@media screen and (max-device-width: 680px) {
  iframe {
    width: 100%;
    height: calc(100vw / 1.5);
  }
}

p {
  color: #ffffff;
}

h1,
h2,
h3 {
  color: #ffffff;
}
